<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ListeningIPInterface" value="127.0.0.1"/>
    <add key="ListeningPort" value="8081"/>
    <add key="CertificateFile" value="cert.cer"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
